.sidebar-separator {
  line-height: 30pt;
  text-align: center;
  margin-top: 15pt;
  display: block;
}
.sidebar-separator::before, .sidebar-separator::after {
  content: '';
  border-top: 1px solid #ccc;
  margin-top: 15pt;
  width: 45px;
  display: block;
  float: right;
}
.sidebar-separator::before {
  float: left;
}
#main_background {
  height: 100vh !important;
  margin-top: -65px;
  margin-bottom: -15px;
  padding-top: 65px;
  padding-bottom: 15px;
  position: relative;
}
#main_background img {max-height: 100% !important}

.ratio1to1,
.ratio5to2,
.ratio5to4,
.ratio2to1,
.ratio3to2,
.ratio16to9 {
	width: 100%;
	position: relative;
}

.ratio1to1>div,
.ratio2to1>div,
.ratio5to4>div,
.ratio5to2>div,
.ratio3to2>div,
.ratio16to9>div{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.ratio1to1>.shiny-plot-output,
.ratio5to2>.shiny-plot-output,
.ratio5to4>.shiny-plot-output,
.ratio3to2>.shiny-plot-output,
.ratio16to9>.shiny-plot-output,
.ratio2to1>.shiny-plot-output,
.ratio1to1>.plotly,
.ratio5to4>.plotly,
.ratio5to2>.plotly,
.ratio3to2>.plotly,
.ratio16to9>.plotly,
.ratio2to1>.plotly,
.ratio1to1 img,
.ratio5to4 img,
.ratio5to2 img,
.ratio3to2 img,
.ratio2to1 img,
.ratio16to9 img {
	height: 100% !important;
}

.ratio16to9 {
	padding-top: 56.25%;
}

.ratio2to1 {
	padding-top: 50%;
}

.ratio1to1 {
	padding-top: 100%;
}
.ratio5to4{
	padding-top: 80%;
}
.ratio5to2{
	padding-top: 40%;
}
.ratio3to2{
	padding-top: 66.7%;
}

.pre-wrap pre{
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.hidden {
	display: none !important;
}


li.control-sidebar-items {
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


li.control-sidebar-items:hover {
    background-color: rgb(44, 55, 60)
}

li.control-sidebar-items>a {
    padding: 15px 0;
}

.full-width-table table{
  width: 100% !important;
}


#__rave__mask__ {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 1020;
    padding: 50px;
    color: #f2f2f2;
    left: 0;
    top: 0;
}

#__rave__mask__ .loading_info {
  max-width: 500px;
  color: #f2f2f2;
  text-align: right;
  padding: 20px;
  position: relative;
  top: 30%;
  float: right;
}

#__rave__mask__ .loading_info img {
  max-width: 100%;
  max-height: 400px;
}

/*
#loading_img img{
	min-width: 100% !important;
	height: 100vh !important;
}


#loading_img {
	width: 100% !important;
	height: 100vh !important;
	overflow-x: hidden;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#loading_info {
	width: 500px;
    height: 60%;
    position: absolute;
    right: 100px;
    top: 30%;
    z-index: 910;
    color: #f2f2f2;
    text-align: right;
    padding: 20px;
}
*/

.rave-ui-compound-ctrl{
  margin-bottom: 15px;
}


.rave-grid-inputs{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  padding: 15px 5px 0 5px;
  border: 1px solid #efefef;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 5px;
}

.rave-grid-inputs .shiny-input-container{
  width: auto;
}


.rave-grid-inputs>div{
  flex-basis: 33%;
  padding-right: 5px;
}


.rave-grid-inputs>.rave-grid-inputs-legend {
    position: absolute;
    margin-top: -25px;
    background-color: white;
    padding: 3px;
    font-size: large;
    font-weight: 900;
    color: #a1a1a1;
}


.rave-grid-inputs>li{
  display: inline-block;
  flex-basis: 100%;
  padding: 15px;
  margin: -7px 5px 7px 5px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.rave-grid-inputs>li:hover{
  background-color: #f39c1247;
}

.rave-grid-inputs:hover{
  background-color: aliceblue;
}


.rave-border-box {
  border: 1px dashed #efefef;
  height: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.rave-elastic{
  -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.rave-elastic.rave-elastic-active [data-widget="collapse"]{
  display: none;
}


.rave-elastic.rave-elastic-active {
    right: 0 !important;
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    padding: 100px 50px 50px 50px !important;
    overflow-y:  scroll !important;

    z-index: 1000 !important;
    width: 100%!important;
    border-radius: unset !important;
    border: none !important;
    margin: unset !important;
    box-shadow: none !important;
    background: rgba(255,255,255);
}

.margin-top-20 {
  margin-top: 20px;
}

.rave-elastic img {
  width: 100%;
  height: 100%;
}

.shiny-plot-output {
  overflow: overlay;
  resize: vertical;
}

.shiny-plot-output img {
  margin-bottom:-10px;
  padding-bottom:10px;
  width: 100%;
  height: 100%;
}

.rave-elastic-btn {
    padding: 10px 15px;
    background-color: #f2f2f2;
    /*display: inline-block;*/
    z-index: 1;
    /*position: absolute;*/
    cursor: pointer;
    font-size: 20px;
}

.rave-abs-right {
  position: absolute;
  right: 25px;
  z-index: 1;
}

.rave-elastic.rave-elastic-active .rave-elastic-fixed-right {
    position: fixed;
    right: 0;
}



.rave-input-panel{
  -webkit-transition:-webkit-transform .3s ease-in-out, margin .3s ease-in-out;
  -moz-transition:-moz-transform .3s ease-in-out, margin .3s ease-in-out;
  -o-transition:-o-transform .3s ease-in-out, margin .3s ease-in-out;
  transition: transition .3s ease-in-out, margin .3s ease-in-out;
}

.rave-output-panel{
  -webkit-transition:width .3s ease-in-out;
  -moz-transition:width .3s ease-in-out;
  -o-transition:width .3s ease-in-out;
  transition: width .3s ease-in-out;
  z-index: 3;
}

.rave-hide-inputs .rave-input-panel{
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  -o-transform: translateX(-100vw);
  transform: translateX(-100vw);
  margin-right: -100%;
}

.rave-hide-inputs .rave-output-panel{
  width: 100% !important;
}









/* shiny dashboard */

:root {
    --rave-control-width: 75vh;
}



#__rave_control__ {
  width: var(--rave-control-width);
  right: -100vw!important;
  position: absolute;
  width: var(--rave-control-width);
  height: 100vh;
  background-color: #ffffff;
}

.rave-control-open #__rave_control__{
  right: 0;
}

.content-wrapper,
.main-footer,
.right-side{
  margin-right:0 !important;
}

.rave-input-panel,
.left-side,
.main-sidebar{
  z-index: 0 !important;
}


.centered {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  width: fit-content;
  min-width: 50vw;
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.blurred {
 background: inherit;
 position: absolute;
 overflow: hidden;
}

.blurred:before{
 content: '';
 width: 150%;
 height: 150%;
 background: inherit;
 position: absolute;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
 filter: blur(10px);
 z-index: -1;
}

.no-border-inputs input,
.no-border-inputs .selectize-input {
  border: 1px solid transparent;
}

.no-border-inputs .selectize-input:after{
  visibility: hidden;
}

.no-border-inputs .selectize-input:hover:after{
  visibility: visible;
}

.no-border-inputs input:hover,
.no-border-inputs .selectize-input:hover {
  border: 1px solid #ccc;
}



/* Tooltip CSS */
/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after,
[tooltip]>.tooltip-content {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1.2em;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]>.tooltip-content {
  /* content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover>.tooltip-content {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']>.tooltip-content {
  white-space: pre-line;
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])>.tooltip-content,
[tooltip][flow^="up"]>.tooltip-content {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])>.tooltip-content,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]>.tooltip-content {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]>.tooltip-content {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]>.tooltip-content {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]>.tooltip-content {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]>.tooltip-content {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover>.tooltip-content,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover>.tooltip-content,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover>.tooltip-content {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover>.tooltip-content,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover>.tooltip-content {
  animation: tooltips-horz 300ms ease-out forwards;
}

[tooltip][tooltip-image]:hover>.tooltip-content {
  background-repeat: no-repeat;
  min-height: 200px;
  min-width: 480px;
  background-size: 300px 200px;
  padding-left: 310px;
  text-align: left;
}

