.sidebar-separator {
  line-height: 30pt;
  text-align: center;
  margin-top: 15pt;
  display: block;
}
.sidebar-separator::before, .sidebar-separator::after {
  content: '';
  border-top: 1px solid #ccc;
  margin-top: 15pt;
  width: 45px;
  display: block;
  float: right;
}
.sidebar-separator::before {
  float: left;
}
#main_background {
  height: 100vh !important;
  margin-top: -65px;
  margin-bottom: -15px;
  padding-top: 65px;
  padding-bottom: 15px;
  position: relative;
}
#main_background img {max-height: 100% !important}

.ratio1to1,
.ratio5to2,
.ratio5to4,
.ratio2to1,
.ratio3to2,
.ratio16to9 {
	width: 100%;
	position: relative;
}

.ratio1to1>div,
.ratio2to1>div,
.ratio5to4>div,
.ratio5to2>div,
.ratio3to2>div,
.ratio16to9>div{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.ratio1to1>.shiny-plot-output,
.ratio5to2>.shiny-plot-output,
.ratio5to4>.shiny-plot-output,
.ratio3to2>.shiny-plot-output,
.ratio16to9>.shiny-plot-output,
.ratio2to1>.shiny-plot-output,
.ratio1to1>.plotly,
.ratio5to4>.plotly,
.ratio5to2>.plotly,
.ratio3to2>.plotly,
.ratio16to9>.plotly,
.ratio2to1>.plotly,
.ratio1to1 img,
.ratio5to4 img,
.ratio5to2 img,
.ratio3to2 img,
.ratio2to1 img,
.ratio16to9 img {
	height: 100% !important;
}

.ratio16to9 {
	padding-top: 56.25%;
}

.ratio2to1 {
	padding-top: 50%;
}

.ratio1to1 {
	padding-top: 100%;
}
.ratio5to4{
	padding-top: 80%;
}
.ratio5to2{
	padding-top: 40%;
}
.ratio3to2{
	padding-top: 66.7%;
}

.pre-wrap pre{
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.hidden {
	display: none !important;
}


li.control-sidebar-items {
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


li.control-sidebar-items:hover {
    background-color: rgb(44, 55, 60)
}

li.control-sidebar-items>a {
    padding: 15px 0;
}

.full-width-table table{
  width: 100% !important;
}


#__rave__mask__ {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 1020;
    padding: 50px;
    color: #f2f2f2;
    left: 0;
    top: 0;
}

#__rave__mask__ .loading_info {
  max-width: 500px;
  color: #f2f2f2;
  text-align: right;
  padding: 20px;
  position: relative;
  top: 30%;
  float: right;
}

#__rave__mask__ .loading_info img {
  max-width: 100%;
  max-height: 400px;
}

/*
#loading_img img{
	min-width: 100% !important;
	height: 100vh !important;
}


#loading_img {
	width: 100% !important;
	height: 100vh !important;
	overflow-x: hidden;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#loading_info {
	width: 500px;
    height: 60%;
    position: absolute;
    right: 100px;
    top: 30%;
    z-index: 910;
    color: #f2f2f2;
    text-align: right;
    padding: 20px;
}
*/

.rave-ui-compound-ctrl{
  margin-bottom: 15px;
}


.rave-grid-inputs{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  padding: 15px 5px 0 5px;
  border: 1px solid #efefef;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 5px;
}


.rave-grid-inputs>div{
  flex-basis: 33%;
  padding-right: 5px;
}


.rave-grid-inputs>li{
  display: inline-block;
  flex-basis: 100%;
  padding: 15px;
  margin: -7px 5px 7px 5px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.rave-grid-inputs>li:hover{
  background-color: #f39c1247;
}


.rave-border-box {
  border: 1px dashed #efefef;
  height: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.rave-elastic{
  -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.rave-elastic.rave-elastic-active [data-widget="collapse"]{
  display: none;
}


.rave-elastic.rave-elastic-active {
    right: 0 !important;
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    padding: 100px 50px 50px 50px !important;
    overflow-y:  scroll !important;

    z-index: 1000 !important;
    width: 100%!important;
    border-radius: unset !important;
    border: none !important;
    margin: unset !important;
    box-shadow: none !important;
    background: rgba(255,255,255);
}



.rave-elastic img {
  width: 100%;
  height: 100%;
}

.shiny-plot-output {
  overflow: scroll;
  resize: vertical;
}

.shiny-plot-output img {
  margin-bottom:-10px;
  padding-bottom:10px;
  width: 100%;
  height: 100%;
}

.rave-elastic-btn {
    padding: 10px 15px;
    background-color: #f2f2f2;
    /*display: inline-block;*/
    z-index: 1;
    /*position: absolute;*/
    cursor: pointer;
    font-size: 20px;
}

.rave-abs-right {
  position: absolute;
  right: 25px;
  z-index: 1;
}

.rave-elastic.rave-elastic-active .rave-elastic-fixed-right {
    position: fixed;
    right: 0;
}



.rave-input-panel{
  -webkit-transition:-webkit-transform .3s ease-in-out, margin .3s ease-in-out;
  -moz-transition:-moz-transform .3s ease-in-out, margin .3s ease-in-out;
  -o-transition:-o-transform .3s ease-in-out, margin .3s ease-in-out;
  transition: transition .3s ease-in-out, margin .3s ease-in-out;
}

.rave-output-panel{
  -webkit-transition:width .3s ease-in-out;
  -moz-transition:width .3s ease-in-out;
  -o-transition:width .3s ease-in-out;
  transition: width .3s ease-in-out;
  z-index: 3;
}

.rave-hide-inputs .rave-input-panel{
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  -o-transform: translateX(-100vw);
  transform: translateX(-100vw);
  margin-right: -100%;
}

.rave-hide-inputs .rave-output-panel{
  width: 100% !important;
}









/* shiny dashboard */

:root {
    --rave-control-width: 60vh;
}


.control-sidebar, .right-side {
    width: var(--rave-control-width);
}

/*
@media (min-width: 768px) {
  .content-wrapper,
    .left-side,
  .main-footer {
    /* margin-right: var(--rave-control-width); /
  }
}
@media (max-width: 767px) {
  .sidebar-open .content-wrapper,
  .sidebar-open .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(var(--rave-control-width), 0);
    -ms-transform: translate(var(--rave-control-width), 0);
    -o-transform: translate(var(--rave-control-width), 0);
    transform: translate(var(--rave-control-width), 0);
  }
}
@media (max-width: 767px) {
  .main-sidebar,
  .left-side {
    -webkit-transform: translate(-var(--rave-control-width), 0);
    -ms-transform: translate(-var(--rave-control-width), 0);
    -o-transform: translate(-var(--rave-control-width), 0);
    transform: translate(-var(--rave-control-width), 0);
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .left-side {
    -webkit-transform: translate(-var(--rave-control-width), 0);
    -ms-transform: translate(-var(--rave-control-width), 0);
    -o-transform: translate(-var(--rave-control-width), 0);
    transform: translate(-var(--rave-control-width), 0);
  }
}
*/

.control-sidebar,
.control-sidebar-bg {
  width: var(--rave-control-width)!important;
  right: -100vw!important;
}

.control-sidebar-open .control-sidebar,
.control-sidebar-open .control-sidebar-bg{
  right: 0!important;
}

.content-wrapper,
.main-footer,
.right-side{
  margin-right:0 !important;
}

